IAM/Terraform_for_IAM/.terraform/
IAM/Terraform_for_IAM/.terraform.lock.hcl
IAM/Terraform_for_IAM/terraform.tfstate
IAM/Terraform_for_IAM/terraform.tfplan
IAM/Terraform_for_IAM/terraform.tfstate.backup
EC2/EC2_for_ssh_using_vpc/.terraform
EC2/EC2_for_ssh_using_vpc/.terraform.lock.hcl
EC2/EC2_for_ssh_using_vpc/terraform.tfstate
EC2/EC2_for_ssh_using_vpc/terraform.tfplan
EC2/EC2_for_ssh_using_vpc/terraform.tfstate.backup
EC2/EC2_using_ssh/.terraform
EC2/EC2_using_ssh/terraform.tfstate
EC2/EC2_using_ssh/terraform.tfplan
EC2/EC2_using_ssh/terraform.tfstate.backup
EC2/EC2_using_vpc/.terraform
EC2/EC2_using_vpc/.terraform.lock.hcl
EC2/EC2_using_vpc/terraform.tfstate
EC2/EC2_using_vpc/terraform.tfplan
EC2/EC2_using_vpc/terraform.tfstate.backup
EC2/EC2_using_vpc/terraform_ec2_key.pub
EC2/EC2_using_vpc/terraform_ec2_key
EC2/EC2_using_ssh/terraform_ec2_key.pub
EC2/EC2_using_ssh/terraform_ec2_key